/* html {
    height: 100vh;
    min-width: 600px;
    background-image: linear-gradient(130deg, #FFFFFF,#1C3F80);
    background-repeat: no-repeat;
    background-size: auto;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background: #d88771;
    background-image: linear-gradient(120deg, #e2c35d, #d88771);
    /* background: linear-gradient(130deg, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 100%); */
    /* background: linear-gradient(130deg, rgba(0, 255, 204, 0.527) 0%, rgba(0, 36, 17, 0.74) 100%); */
    /* background-image: linear-gradient(130deg, #FFFFFF,#1C3F80); */
    /* background: linear-gradient(130deg, rgba(204, 0, 255, 0.342) 0%, rgb(20, 0, 36) 100%); */
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    /* background: rgb(196, 194, 194); */
    background: white;
    
}

form button{
    color: #d88771;
    /* color: #ff6f47; */
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #ff6f47;;
    
    color: white;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

/* change from tutorial */
form input{
    border-radius: 5px 0px 0px 5px;
}
form button{
    border-radius:0px 5px 5px 0px;
}


/* html added with css stying: */
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease ;
}

.todo li{
    /* It will push all the sibling button to end. */
    flex: 1;
}

.trash-btn, 
.complete-btn{
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn{
    background: rgb(73, 204, 73);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}


/* fell animation */

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}


/* select */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 5px;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1.17rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

.select:hover::after{
    background: white;
    color: #ff6f47;
}